---
import AnimatedBg from '~/components/AnimatedBg.astro';
import Astrolab from '~/components/Astrolab.astro';
import Heading from '~/components/Heading.astro';
import ContentWrapper from '~/components/ContentWrapper.astro';
import Base from '~/layouts/Base.astro';
import Form from '~/components/Form.astro';
import { Content } from '~/md/en/journey.md';
import { buttonVariants } from '~/lib/buttonVariants';
import { Icon } from 'astro-icon/components';
---

<Base pageTitle='YASSINE OFQIR-HAMMA'>
  <AnimatedBg />
  <main
    id='hero'
    class='container mx-auto flex h-screen w-full flex-col items-center justify-center gap-y-20 pb-10 lg:h-[calc(100vh-100px)] lg:gap-y-24 lg:pb-0'
  >
    <div class='flex flex-col items-center justify-center gap-y-6'>
      <Heading tag='h1' class='text-center uppercase'>
        yassine <br class='block lg:hidden' /> ofqir-hamma
      </Heading>
      <Heading tag='h2' style='h4'>
        I'm a
        <span class='rounded-md bg-secondary py-2 text-white'>
          &nbsp;<span id='text'></span><span id='cursor'>|</span>&nbsp;
        </span>
      </Heading>
    </div>
    <a
      href='#contact'
      class:list={buttonVariants({ size: 'lg' })}
      aria-label='contact me'
    >
      Get in touch
    </a>
    <Astrolab />
  </main>

  <!-- section 2 -->
  <section
    class='h-auto w-full py-6 lg:pb-12 lg:pt-40'
    id='dev-journey-section'
  >
    <ContentWrapper
      articleId='journey'
      class='prose text-text prose-h1:prose-2xl dark:prose-invert lg:prose-base prose-h1:font-headings lg:prose-h1:text-3xl'
    >
      <Content />
      <p class='w-2/3 lg:w-1/2'>
        <a
          href='/en/about'
          class:list={buttonVariants({
            variant: 'outline',
            className: 'flex w-auto items-center justify-center gap-x-4',
            size: 'sm',
          })}
        >
          <span> More about me </span>
          <Icon name='arrow-right' />
        </a>
      </p>
    </ContentWrapper>
  </section>
  <!-- form -->
  <section class='h-auto w-full py-6 lg:py-12' id='contact'>
    <ContentWrapper class='space-y-5' articleId='content-contact'>
      <Heading tag='h2'>Contact me</Heading>
      <Form />
    </ContentWrapper>
  </section>
</Base>
