---
import AnimatedBg from '~/components/AnimatedBg.astro';
import Astrolab from '~/components/Astrolab.astro';
import Button from '~/components/Button.astro';
import Heading from '~/components/Heading.astro';
import TextWrapper from '~/components/TextWrapper.astro';
import Base from '~/layouts/Base.astro';

// const devJourny = await Astro.glob('../../content/en/journey.md');
import { Content as PromoContent } from '~/content/en/journey.md';
---

<Base pageTitle='YASSINE OFQIR-HAMMA'>
  <AnimatedBg />
  <main
    id='hero'
    class='container mx-auto flex h-screen w-full flex-col items-center justify-center gap-y-20 lg:h-[calc(100vh-100px)] lg:gap-y-24'
  >
    <div class='flex flex-col items-center justify-center gap-y-6'>
      <Heading tag='h1' class='text-center uppercase'>
        yassine <br class='block lg:hidden' /> ofqir-hamma
      </Heading>
      <Heading tag='h2' style='h4'>
        I'm a
        <span class='rounded-md bg-secondary py-2 text-white'>
          &nbsp;<span id='text'></span><span id='cursor'>|</span>&nbsp;
        </span>
      </Heading>
    </div>
    <Button size='lg' link='#contact' label='contact me'> Get in touch </Button>
    <Astrolab />
  </main>

  <!-- section 2 -->
  <section class='h-auto w-full py-6 lg:py-40' id='dev-journey-section'>
    <TextWrapper
      articleId='journey'
      class='prose prose-sm prose-h1:prose-2xl dark:prose-invert lg:prose-base prose-h1:font-headings lg:prose-h1:text-3xl'
    >
      <PromoContent />
    </TextWrapper>
  </section>
  <!-- form -->
  <section class='h-auto w-full py-6 lg:py-40'>
    form here
    <div class='h-40'>sdsfds</div>
  </section>
</Base>
