---
import Base from '~/layouts/Base.astro';
import ContentWrapper from '~/components/ContentWrapper.astro';
---

<Base pageTitle='showcases'>
  <main class='container mx-auto py-12 lg:py-24'>
    <ContentWrapper>
      <h1 class='text-center'>Showcase</h1>
    </ContentWrapper>
  </main>
</Base>
