---
import Base from '~/layouts/Base.astro';
import ContentWrapper from '~/components/ContentWrapper.astro';
import { getCollection } from 'astro:content';
import ProjectCard from '~/components/ProjectCard.astro';
import { getLangFromUrl } from '~/lib/i18n';

const lang = getLangFromUrl(Astro.url);
const projects = await getCollection('projects', (p) =>
  p.slug.startsWith(lang)
);

projects.sort((a, b) => a.data.order - b.data.order);
---

<Base pageTitle='showcases'>
  <main class='container mx-auto py-12 lg:py-24'>
    <ContentWrapper>
      <h1 class='text-center'>Showcase</h1>
      <p class='text-center'>
        These are my latest favorite projects where I showcase my best web
        development skills.
      </p>
      <div class='space-y-8'>
        {projects.map((prj) => <ProjectCard project={prj} />)}
      </div>
    </ContentWrapper>
  </main>
</Base>
