---
import { Image } from 'astro:assets';
import motherSVG from '~/assets/mother.png';
import spiderSVG from '~/assets/spider.png';
import axeSVG from '~/assets/axe.png';
---

<div class='sticky top-0 -z-10 mx-auto block aspect-square w-40 lg:w-80'>
  <Image
    format='avif'
    class='absolute inset-0'
    src={motherSVG}
    alt='mother'
    id='mother'
    loading='eager'
  />
  <Image
    format='avif'
    class='absolute inset-0 top-[0x] origin-[center_115px] animate-spin animate-reverse animate-duration-[100000ms] animate-infinite animate-ease-linear lg:origin-[center_230px]'
    src={spiderSVG}
    alt='spider'
    id='spider'
    loading='eager'
  />
  <Image
    format='avif'
    class='animate-ease-linea absolute inset-0 origin-[center_115px] animate-spin animate-duration-[100000ms] animate-infinite lg:origin-[center_230px] lg:animate-none'
    src={axeSVG}
    alt='axe'
    id='axe'
    loading='eager'
  />
</div>
