---
import { Image } from 'astro:assets';
import motherSVG from '~/assets/mother.svg';
import spiderSVG from '~/assets/spider.svg';
import axeSVG from '~/assets/axe.svg';
---

<div class='relative hidden h-96 w-96 lg:block'>
  <Image
    format='avif'
    class='absolute inset-0'
    src={motherSVG}
    alt='mother'
    id='mother'
    loading='eager'
  />
  <Image
    format='avif'
    class='absolute inset-0 top-[0x] origin-[center_276px] animate-spin animate-reverse animate-duration-[100000ms] animate-infinite animate-ease-linear'
    src={spiderSVG}
    alt='spider'
    id='spider'
    loading='eager'
  />
  <Image
    format='avif'
    class='absolute inset-0 origin-[center_276px]'
    src={axeSVG}
    alt='axe'
    id='axe'
    loading='eager'
  />
</div>
