<button
  id='btn-menu'
  class='absolute right-5 top-5 z-50 flex items-center justify-center rounded-full bg-primary p-2 lg:hidden'
>
  <svg
    xmlns='http://www.w3.org/2000/svg'
    width='24'
    height='24'
    viewBox='0 0 24 24'
    stroke='#ffffff'
    stroke-width='2'
    stroke-linecap='round'
    stroke-linejoin='round'
  >
    <line id='l1' x1='4' x2='20' y1='6' y2='6'></line>
    <line id='l2' x1='4' x2='20' y1='12' y2='12'></line>
    <line id='l3' x1='4' x2='20' y1='18' y2='18'></line>
  </svg>
</button>
