---
import { getLangFromUrl, useTranslation, useTranslatedPath } from '~/lib/i18n';
import { type UILang } from '~/lib/i18n/ui';
import ToggleTheme from './ToggleTheme.astro';
import ChangeLang from './ChangeLang.astro';
import ButtonMenu from './ButtonMenu.astro';
import { Image } from 'astro:assets';

type Link = { label: keyof UILang['ar' | 'en']; pathname: string };
const links: Link[] = [
  { label: 'nav.home', pathname: '/' },
  { label: 'nav.about', pathname: '/about' },
  { label: 'nav.showcase', pathname: '/showcase' },
];
const lang = getLangFromUrl(Astro.url);
const t = useTranslation(lang);
const translatePath = useTranslatedPath(lang);
const { pathname } = Astro.url;
---

<header
  class='sticky left-0 top-0 z-50 flex w-screen items-center justify-center lg:h-auto lg:translate-y-[0]'
>
  <ButtonMenu />
  <nav
    id='menu'
    data-state='close'
    class='absolute bottom-0 flex h-screen w-full flex-col items-center justify-center gap-x-24 gap-y-20 bg-[#f6f4f3]/30 bg-opacity-100 py-4 backdrop-blur-xl dark:bg-[#0f1624]/30 lg:relative lg:top-0 lg:h-auto lg:flex-row lg:bg-opacity-40'
  >
    <a href={`/${lang}/`}>
      <Image
        src='/logo.svg'
        class='block'
        width={40}
        height={40}
        alt='logo'
        format='avif'
        loading='eager'
      />
    </a>
    <ul
      class='flex flex-col items-center justify-center gap-x-10 gap-y-8 lg:flex-row'
      id='nav-links'
    >
      {
        links.map((l) => (
          <li>
            <a
              href={translatePath(l.pathname)}
              class:list={[
                'rounded-full px-4 py-2 text-base font-normal capitalize opacity-50 transition-all duration-300 hover:opacity-100 lg:text-sm lg:font-semibold',
              ]}
            >
              {t(l.label)}
            </a>
          </li>
        ))
      }
    </ul>
    <div class='h-1 w-48 rounded-full bg-secondary lg:h-6 lg:w-1'></div>
    <div class='flex items-center justify-center gap-x-6'>
      <div>
        <ToggleTheme />
      </div>
      <div>
        <ChangeLang />
      </div>
    </div>
  </nav>
</header>
