---
import { type CollectionEntry, getCollection } from 'astro:content';
import TechButton from './TechButton.astro';

interface Props {
  tag: CollectionEntry<'techs'>['data']['tag'];
  title: string;
}

const { tag, title } = Astro.props;

const techs = await getCollection('techs', (t) => {
  return t.data.tag === tag;
});
---

<div class='tech-card w-full space-y-1' lang='en'>
  <h3>{title}:</h3>
  <ul class='flex flex-wrap items-start gap-4 ps-[0!important]'>
    {
      techs.map((t) => (
        <li class='list-none py-0 ps-[0!important]' dir='ltr'>
          <TechButton
            link={t.data.link}
            name={t.data.name}
            icon={t.data.icon}
          />
        </li>
      ))
    }
  </ul>
</div>
