---
import AnimatedBg from '~/components/AnimatedBg.astro';
import Astrolab from '~/components/Astrolab.astro';
import ContentWrapper from '~/components/TextWrapper.astro';
import Base from '~/layouts/Base.astro';
import { Content } from '~/content/ar/journey.md';
import Heading from '~/components/Heading.astro';
import Form from '~/components/Form.astro';
import { buttonVariants } from '~/lib/buttonVariants';
import { Icon } from 'astro-icon/components';
---

<Base pageTitle='ياسين أفقير حما'>
  <AnimatedBg />

  <main
    id='hero'
    class='container relative mx-auto flex h-screen w-full flex-col items-center justify-center gap-y-20 lg:h-[calc(100vh-100px)] lg:gap-y-24'
  >
    <div class='flex flex-col items-center justify-center gap-y-6'>
      <Heading tag='h1' class='text-center uppercase'>
        ياسين <br class='block lg:hidden' /> أفقير حما
      </Heading>
      <Heading tag='h2' style='h4'>
        أنا
        <span class='rounded-md bg-secondary py-2 text-white'>
          &nbsp;<span id='text'></span><span id='cursor'>|</span>&nbsp;
        </span>
      </Heading>
    </div>
    <a
      class:list={buttonVariants({ size: 'lg' })}
      href='#contact'
      aria-label='تواصل معي'
    >
      تواصل معي
    </a>
    <Astrolab />
  </main>

  <!-- section 2 -->
  <section class='h-auto w-full py-6 lg:py-24' id='dev-journey-section'>
    <ContentWrapper
      articleId='journey'
      class='prose prose-sm prose-h1:prose-2xl dark:prose-invert lg:prose-base prose-h1:font-headings lg:prose-h1:text-3xl'
    >
      <Content />
      <p class='w-1/2'>
        <a
          href='/about'
          class:list={buttonVariants({
            variant: 'outline',
            className: 'flex w-auto items-center justify-center gap-x-4',
            size: 'sm',
          })}
        >
          <span>معرفة المزيد عني</span>
          <Icon name='arrow-left' />
        </a>
      </p>
    </ContentWrapper>
  </section>
  <!-- form -->
  <section class='h-auto w-full py-6 lg:py-12' id='contact'>
    <ContentWrapper class='space-y-5' articleId='content-contact'>
      <Heading tag='h2'>تواصل معي</Heading>
      <Form />
    </ContentWrapper>
  </section>
</Base>
