---
interface Props {
  pageTitle: string;
}
import { getLangFromUrl } from '~/lib/i18n';
import Header from '~/components/Header.astro';
import '../styles/index.css';
import Footer from '~/components/Footer.astro';
import AnimatedBg from '~/components/AnimatedBg.astro';

const { pageTitle } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<html lang={lang} dir={lang == 'ar' ? 'rtl' : 'ltr'} class='dark'>
  <head>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Zain:wght@200;300;400;700;800;900&display=swap'
      rel='stylesheet'
    />
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/logo.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='author' content='YASSINE OFQIR-HAMMA' />
    <meta
      name='description'
      content="Hi, I'm yassine ofqir-hamma a web developer, welcom to my portfolio."
    />
    <meta name='generator' content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class='relative overflow-x-hidden bg-background font-base text-text'>
    <AnimatedBg />
    <Header />
    <slot />
    <Footer />
  </body>
  <script>
    import '~/scripts/index';
  </script>
</html>
