---
import Header from '~/components/Header.astro';
import '../styles/index.css';
import { getLangFromUrl } from '~/lib/i18n';

const lang = getLangFromUrl(Astro.url);
---

<html lang={lang} dir={lang == 'ar' ? 'rtl' : 'ltr'}>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body
    class='bg-background font-base text-text transition-all duration-100 ease-in-out'
  >
    <Header />
    <slot />
  </body>
  <script>
    import '~/scripts/index';
  </script>
</html>
